doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title SandBox - Administrador
    link(href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' rel='stylesheet')
    link(href='/public/sandbox/css/bootstrap.min.css', rel='stylesheet')
    link(href='/public/sandbox/css/datepicker3.css', rel='stylesheet')
    link(href='/public/sandbox/css/styles.css', rel='stylesheet')
    // Icons
    script(src='/public/sandbox/js/lumino.glyphs.js')
    style(type='text/css').
      #esconde1, #esconde2, #esconde3, #esconde4, #esconde5, #esconde6, #esconde7, #esconde8 {
        padding-left: 0px;
      }
      .sb-ejer{
        background-color: rgba(0,0,0,0.3);
        padding-left: 20px;
        padding-bottom: 20px;
      }
      .sb-ejer h3{
        color:orange;
      }
      .sb-desc{
        padding-top: 20px;
        padding-right: 10px;
        padding-left: 10px;
        overflow-y:scroll;
        height: 56vh;
      }
      .cursos{
        background-color: rgba(255,255,255,0.8);
        margin-top: 10px;
      }
      .cursos p{
        color: black;
        font-size: large;
      }
      #body-pan{
        background-color: #9BD0F5;
      }
      #pane-techo{
        background-color: #5094C4;
        color: white;
      }
      .titulo{
        margin-top: 10px;
      }
      .btn.btn-lg.btn-primary.dale{
        margin-top:10px;
        margin-bottom:10px;
      }
      .form-control{
        max-width: 550px
      }
      .col-lg-10.widget-right {
        height: 320px;
      }
      .col-sm-3.col-lg-2.widget-left {
        height: 320px;
      }
      .glyph.stroked.app.window.with.content {
        margin-top: 10px;
      }
      .ui-autocomplete {
          z-index: 5000;
      }
body
  // ============Modal Modificar================
  #modalModificar.modal.fade(aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(rol='document')
      .modal-content
        .modal-header
          h3#exampleModalLabel.modal-title Modificar Curso
        .modal-body(style='height:300px;')
          form
            label Paralelo
            input#modiParalelo.form-control(type='number' name='paralelo', min='1')
            div.ui-widget
              label.control-label(for='modiProfesor' style='margin-top:15px;') Profesor
              input#modiProfesor.form-control(type='text' name='profesor')
            div.ui-widget
              label.control-label(for='modiEstudiantes' style='margin-top:15px;') Estudiantes
              input#modiEstudiantes.form-control(type='text' name='estudiantes', placeholder='Ingrese estudiantes')
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.btn.btn-primary.confirmarModificar(type='button') Modificar

  // ============Navegación================
  nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#sidebar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/inicio')
          span.rol
        ul.user-menu
          li.dropdown.pull-right
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              svg.glyph.stroked.male-user
                use(xlink:href='#stroked-male-user')
              label.nombreUser
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='/perfil')
                  svg.glyph.stroked.male-user
                    use(xlink:href='#stroked-male-user')
                  |  Ver mi perfil
              li
                a(href='/logout')
                  svg.glyph.stroked.cancel
                    use(xlink:href='#stroked-cancel')
                  |  Cerrar Sesión
    // /.container-fluid
  #sidebar-collapse.col-sm-3.col-lg-2.sidebar
    ul.nav.menu
      h3(style='margin-top: 17px; padding-left: 10px;') Usuarios
      li
        a(href='/users')
          svg.glyph.stroked.folder
            use(xlink:href='#stroked-folder')
          | Usuarios
      li
        a(href='/users/crear')
          svg.glyph.stroked.blank.document
            use(xlink:href='#stroked-blank-document')
          | Crear Usuario
      li.divider(role='presentation')
      h3(style='margin-top: 17px; padding-left: 10px;') Cursos
      li.active
        a(href='/cursos')
          svg.glyph.stroked.folder
            use(xlink:href='#stroked-folder')
          | Cursos
      li
        a(href='/cursos/crear')
          svg.glyph.stroked.blank.document
            use(xlink:href='#stroked-blank-document')
          | Crear Curso
      li.divider(role='presentation')
      li
        a(href='/perfil')
          svg.glyph.stroked.male-user
            use(xlink:href='#stroked-male-user')
          |  Perfil
  // /.sidebar
  .col-sm-9.col-sm-offset-3.col-lg-10.col-lg-offset-2.main
    .row
      ol.breadcrumb
        li
          a(href='/inicio')
            svg.glyph.stroked.home
              use(xlink:href='#stroked-home')
        li.active Cursos
    // /.row
    br
    .row
      .col-lg-12
        // ============Aqui Trabajo================
        h1.page-header(style='margin-left: 20px;') Todos los Cursos
        each course, i in Courses
          .col-lg-8.ej1
            .panel.panel-blue.panel-widget
              .row.no-padding
                .col-sm-3.col-lg-2.widget-left
                  svg.glyph.stroked.app.window.with.content
                    use(xlink:href='#stroked-app-window-with-content')
                .col-lg-10.widget-right
                  p
                    b Paralelo:
                    |   #{course.paralelo}
                  p
                    b Profesor:
                    |   #{course.profesor}
                  button(id="t"+(i+1) style='margin-right:10px;').btn.btn-info.panel-blue Ver
                  button(name=course.id,data-toggle='modal',data-target='#modalModificar' style='margin-right: 10px;').btn.btn-info.panel-blue.modificar Modificar
                  button(name=course.id,data-toggle='modal',data-target='#MyModal' style='margin-right: 10px;').btn.btn-info.panel-blue.eliminar Eliminar
                  div(id="esconde"+(i+1)).widget-right
                    p
                      b Estudiantes:
                    each student in course.estudiantes
                      | #{student}
                      br


          // ============Modal eliminar================
          #MyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h3#exampleModalLabel.modal-title Eliminar Curso
                .modal-body
                  | Está seguro que desea Eliminar este curso?
                .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                  button.btn.btn-primary.confirmarEliminar(type='button') Save changes


        // ============Aqui Trabajo================
      // /.row
    // /.row
  // /.main
  script(src='/public/sandbox/js/jquery-1.11.1.min.js')
  script('https://code.jquery.com/jquery-1.12.4.js')
  script(src='/public/sandbox/js/bootstrap.min.js')
  script(type='text/javascript', src='/public/sandBox/js/navscript.js')
  script(src='/public/js/mostrar-Usuario.js')
  script(src='//cdn.jsdelivr.net/interact.js/1.2.6/interact.min.js')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
  script(src='/public/js/curso.js')
  script(type='text/javascript').
      $(document).ready(function () {
          console.log('Autocomplete ready!');
      });

      function split(val) {
          return val.split(/,\s*/);
      }
      function extractLast(term) {
          return split(term).pop();
      }

      $("#modiProfesor").autocomplete({
          source: function (req, resp) {
              $.ajax({
                  method: "GET",
                  url: "cursos/crear/profesor",
                  dataType: "json",
                  data: {
                      term: req.term
                  },
                  success: function (data) {
                      console.log(data)
                      resp(data);
                  }
              });
          },
          change: function (event, ui) {
              if (!ui.item) {
                  $(this).val('');
              }
          }
      });

      $("#modiEstudiantes").on("keydown", function (event) {
          if (event.keyCode === $.ui.keyCode.TAB &&
              $(this).autocomplete("instance").menu.active) {
              event.preventDefault();
          }
      }).autocomplete({
          minLength: 0,
          source: function (req, resp) {
              $.ajax({
                  method: "GET",
                  url: "/cursos/crear/estudiantes",
                  dataType: "json",
                  data: {
                      term: extractLast(req.term)
                  },
                  success: function (data) {
                      console.log(data)
                      resp(data);
                  }
              });
          },
          focus: function () {
              return false;
          },
          select: function (event, ui) {
              var terms = split(this.value);
              terms.pop();
              terms.push(ui.item.value);
              terms.push("");
              this.value = terms.join(", ");
              console.log("Selected: " + ui.item.value);
              return false;

          }
      });